
@{
    ViewBag.Title = "Add HTML in Header and Footer";
    Layout = "~/Views/Shared/_Layout.cshtml";

    ViewData["HeaderTemplate"] = System.IO.File.ReadAllText(ViewData["ContentRootPath"].ToString() + "/DemoAppFiles/Input/HTML_Files/HeaderTemplate.html");
    ViewData["FooterTemplate"] = System.IO.File.ReadAllText(ViewData["ContentRootPath"].ToString() + "/DemoAppFiles/Input/HTML_Files/FooterTemplate.html");
}

<script>
    TreeView_SelectNode("demoTreeView_HTML_in_Header_Footer");
</script>

@using (Html.BeginForm("ConvertHtmlToPdf", "HTML_in_Header_Footer", FormMethod.Post))
{
    <table style="width: 100%; height: 100%">
        <tbody>
            <tr>
                <td style="border: solid 1px Black; padding-top: 10px; padding-left: 10px; padding-right: 10px;
                padding-bottom: 0px">
                    <table style="width: 100%; height: 100%">
                        <tbody>
                            <tr>
                                <td style="font-size: 16px; font-weight: bold; height: 20px; padding-bottom: 15px;
                            padding-top: 5px">
                                    Add Page Numbering in HTML
                                </td>
                            </tr>
                            <tr>
                                <td style="width: 100%;">

                                    <table style="width: 535px; height: 927px">
                                        <tbody>
                                            <tr>
                                                <td style="vertical-align: top">
                                                    <table>
                                                        <tbody>
                                                            <tr>
                                                                <td>
                                                                    EVO HTML to PDF Converter offers a great control of headers and footers. You can
                                                                    add in header and footer any valid HTML markup and elements with special CSS class name
                                                                    to generate page numbering.
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td style="height: 20px"></td>
                                                            </tr>
                                                            <tr>
                                                                <td>
                                                                    <table>
                                                                        <tbody>
                                                                            <tr>
                                                                                <td style="padding-bottom: 5px; font-weight: bold">
                                                                                    HTML Page URL or Local File to Convert
                                                                                </td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td>
                                                                                    <input name="urlTextBox" type="text" value="http://www.evopdf.com/DemoAppFiles/HTML_Files/Structured_HTML.html" id="urlTextBox" style="width:500px;">
                                                                                </td>
                                                                            </tr>
                                                                        </tbody>
                                                                    </table>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td style="height: 20px"></td>
                                                            </tr>
                                                            <tr>
                                                                <td>
                                                                    <table>
                                                                        <tbody>
                                                                            <tr>
                                                                                <td>
                                                                                    <input id="enableHeaderFooterCheckBox" type="checkbox" name="enableHeaderFooterCheckBox" checked="checked"><label for="enableHeaderFooterCheckBox">Enable Header and Footer</label>
                                                                                </td>
                                                                            </tr>
                                                                        </tbody>
                                                                    </table>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td style="height: 20px"></td>
                                                            </tr>
                                                            <tr>
                                                                <td>
                                                                    <table>
                                                                        <tbody>
                                                                            <tr>
                                                                                <td style="font-weight: bold">
                                                                                    Header HTML Template
                                                                                </td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td>
                                                                                    <textarea name="headerHtmlTextBox" rows="2" cols="20" id="headerHtmlTextBox" style="height:200px;width:500px;">@(ViewData["HeaderTemplate"].ToString())</textarea>
                                                                                </td>
                                                                            </tr>
                                                                        </tbody>
                                                                    </table>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td style="height: 10px"></td>
                                                            </tr>
                                                            <tr>
                                                                <td>
                                                                    <table>
                                                                        <tbody>
                                                                            <tr>
                                                                                <td>
                                                                                    Header Height:
                                                                                </td>
                                                                                <td style="width: 5px"></td>
                                                                                <td>
                                                                                    <input name="headerHeightTextBox" type="text" value="50" id="headerHeightTextBox" style="width:35px;">
                                                                                </td>
                                                                                <td style="width: 5px"></td>
                                                                                <td>
                                                                                    pt
                                                                                </td>
                                                                                <td style="width: 25px"></td>
                                                                                <td>
                                                                                    <input id="headerEnabledCheckBox" type="checkbox" name="headerEnabledCheckBox" checked="checked"><label for="headerEnabledCheckBox">Header Enabled</label>
                                                                                </td>
                                                                            </tr>
                                                                        </tbody>
                                                                    </table>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td style="height: 20px"></td>
                                                            </tr>
                                                            <tr>
                                                                <td>
                                                                    <table>
                                                                        <tbody>
                                                                            <tr>
                                                                                <td style="font-weight: bold">
                                                                                    Footer HTML Template
                                                                                </td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td>
                                                                                    <textarea name="footerHtmlTextBox" rows="2" cols="20" id="footerHtmlTextBox" style="height:200px;width:500px;">@(ViewData["FooterTemplate"].ToString())</textarea>
                                                                                </td>
                                                                            </tr>
                                                                        </tbody>
                                                                    </table>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td style="height: 10px"></td>
                                                            </tr>
                                                            <tr>
                                                                <td>
                                                                    <table>
                                                                        <tbody>
                                                                            <tr>
                                                                                <td>
                                                                                    Footer Height:
                                                                                </td>
                                                                                <td style="width: 5px"></td>
                                                                                <td>
                                                                                    <input name="footerHeightTextBox" type="text" value="50" id="footerHeightTextBox" style="width:35px;">
                                                                                </td>
                                                                                <td style="width: 5px"></td>
                                                                                <td>
                                                                                    pt
                                                                                </td>
                                                                                <td style="width: 25px"></td>
                                                                                <td>
                                                                                    <input id="footerEnabledCheckBox" type="checkbox" name="footerEnabledCheckBox" checked="checked"><label for="footerEnabledCheckBox">Footer Enabled</label>
                                                                                </td>
                                                                            </tr>
                                                                        </tbody>
                                                                    </table>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td style="height: 20px"></td>
                                                            </tr>
                                                            <tr>
                                                                <td>
                                                                    <input type="submit" name="convertToPdfButton" value="Convert HTML to PDF" id="convertToPdfButton">
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
        </tbody>
    </table>
}
