<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>@ViewBag.Title</title>
    <base href="@Url.Content("~/")" />
    <link href="img/evo.ico" rel="shortcut icon" />
    <link href="styles/styles.css" type="text/css" rel="stylesheet">

    <script>
        function TreeView_ToggleNode(nodeId) {
            var node = document.getElementById(nodeId);
            var img = node.childNodes[0];
            var children = document.getElementById(nodeId + 'Nodes');
            if (children.style.display == "none") {
                children.style.display = "block";
                img.src = "img/minus.gif";
            }
            else {
                children.style.display = "none";
                img.src = "img/plus.gif";
            }
        }

        function TreeView_SelectNode(nodeId) {
            var node = document.getElementById(nodeId);
            node.style.backgroundColor = 'WhiteSmoke';
        }

        function TreeView_HoverNode(node) {
            node.style.textDecoration = "underline";
            node.childNodes[0].style.color = "#5555DD";
        }

        function TreeView_UnhoverNode(node) {
            node.style.textDecoration = "none";
            node.childNodes[0].style.color = "#000000";
        }

    </script>
</head>
<body>
    <table style="width: 935px">
        <tr>
            <td style="border: solid 1px Black; vertical-align: top; text-align: left; width: 300px;">
                <table style="border-spacing: 3px">
                    <tr>
                        <td style="border: solid 1px Black; height: 60px">
                            <a href="http://www.evopdf.com">
                                <img src="img/logo.jpg" alt="EVO PDF Logo" />
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <td style="border: solid 1px Black;">
                            <div style="width: 355px; height: 860px; overflow: scroll; padding-left: 1px; padding-right: 5px; padding-bottom: 5px; padding-top: 5px">
                                <div id="demoTreeView">
                                    <table cellpadding="0" cellspacing="0" style="border-width:0;">
                                        <tbody>
                                            <tr>
                                                <td><a id="demoTreeView_HTML_To_PDF_Converter" href="javascript:TreeView_ToggleNode('demoTreeView_HTML_To_PDF_Converter')"><img src="img/minus.gif" alt="Collapse HTML to PDF Converter" style="border-width:0;"></a></td>
                                                <td class="demoTreeView_2 demoTreeView_4" onmouseover="TreeView_HoverNode(this)" onmouseout="TreeView_UnhoverNode(this)" style="white-space:nowrap;"><a class="demoTreeView_0 demoTreeView_1 demoTreeView_3" href="HTML_to_PDF_Getting_Started" title="EVO HTML to PDF Converter">HTML to PDF Converter</a></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <div id="demoTreeView_HTML_To_PDF_ConverterNodes" style="display:block;">
                                        <table cellpadding="0" cellspacing="0" style="border-width:0;">
                                            <tbody>
                                                <tr>
                                                    <td><div style="width:15px;height:1px"></div></td>
                                                    <td><img src="img/item.gif" alt="" style="vertical-align:top"></td>
                                                    <td class="demoTreeView_2" onmouseover="TreeView_HoverNode(this)" onmouseout="TreeView_UnhoverNode(this)" style="white-space:nowrap;"><a class="demoTreeView_0 demoTreeView_1" href="HTML_to_PDF_Getting_Started" title="Getting Started with EVO HTML to PDF Converter" id="demoTreeView_Getting_Started">Getting Started with HTML to PDF</a></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        <table cellpadding="0" cellspacing="0" style="border-width:0;">
                                            <tbody>
                                                <tr>
                                                    <td><div style="width:15px;height:1px"></div></td>
                                                    <td><img src="img/item.gif" alt=""></td>
                                                    <td class="demoTreeView_2" onmouseover="TreeView_HoverNode(this)" onmouseout="TreeView_UnhoverNode(this)" style="white-space:nowrap;"><a class="demoTreeView_0 demoTreeView_1" href="HTML_in_Header_Footer" title="Add HTML in Header and Footer" id="demoTreeView_HTML_in_Header_Footer">Add HTML in PDF Header and Footer</a></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        <table cellpadding="0" cellspacing="0" style="border-width:0;">
                                            <tbody>
                                                <tr>
                                                    <td><div style="width:15px;height:1px"></div></td>
                                                    <td><img src="img/item.gif" alt=""></td>
                                                    <td class="demoTreeView_2" onmouseover="TreeView_HoverNode(this)" onmouseout="TreeView_UnhoverNode(this)" style="white-space:nowrap;"><a class="demoTreeView_0 demoTreeView_1" href="Repeat_HTML_Table_Header_Footer" title="Repeat HTML Table Header and Footer in PDF" id="demoTreeView_Repeat_HTML_Table_Header_Footer">Repeat HTML Table Header and Footer in PDF</a></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        <table cellpadding="0" cellspacing="0" style="border-width:0;">
                                            <tbody>
                                                <tr>
                                                    <td><div style="width:15px;height:1px"></div></td>
                                                    <td><img src="img/item.gif" alt=""></td>
                                                    <td class="demoTreeView_2" onmouseover="TreeView_HoverNode(this)" onmouseout="TreeView_UnhoverNode(this)" style="white-space:nowrap;"><a class="demoTreeView_0 demoTreeView_1" href="Insert_Page_Breaks" title="Insert Page Breaks in PDF Using CSS" id="demoTreeView_Insert_Page_Breaks_Before_After_Using_CSS">Insert Page Breaks in PDF Using CSS</a></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        <table cellpadding="0" cellspacing="0" style="border-width:0;">
                                            <tbody>
                                                <tr>
                                                    <td><div style="width:15px;height:1px"></div></td>
                                                    <td><img src="img/item.gif" alt=""></td>
                                                    <td class="demoTreeView_2" onmouseover="TreeView_HoverNode(this)" onmouseout="TreeView_UnhoverNode(this)" style="white-space:nowrap;"><a class="demoTreeView_0 demoTreeView_1" href="Avoid_Page_Breaks_Inside" title="Avoid Page Break Inside Elements Using CSS" id="demoTreeView_Avoid_Page_Breaks_Inside_HTML_Elements_Using_CSS">Avoid Page Break Inside Elements Using CSS</a></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        <table cellpadding="0" cellspacing="0" style="border-width:0;">
                                            <tbody>
                                                <tr>
                                                    <td><div style="width:15px;height:1px"></div></td>
                                                    <td><img src="img/item.gif" alt=""></td>
                                                    <td class="demoTreeView_2" onmouseover="TreeView_HoverNode(this)" onmouseout="TreeView_UnhoverNode(this)" style="white-space:nowrap;"><a class="demoTreeView_0 demoTreeView_1" href="Auto_Create_Bookmarks" title="Auto Create Hierachical Bookmarks" id="demoTreeView_Auto_Create_Bookmarks">Auto Create Hierachical Bookmarks</a></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        <table cellpadding="0" cellspacing="0" style="border-width:0;">
                                            <tbody>
                                                <tr>
                                                    <td><div style="width:15px;height:1px"></div></td>
                                                    <td><img src="img/item.gif" alt=""></td>
                                                    <td class="demoTreeView_2" onmouseover="TreeView_HoverNode(this)" onmouseout="TreeView_UnhoverNode(this)" style="white-space:nowrap;"><a class="demoTreeView_0 demoTreeView_1" href="Generate_Tagged_Pdf" title="Auto Generate Tagged PDF" id="demoTreeView_Generate_Tagged_Pdf">Auto Generate Tagged PDF</a></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        <table cellpadding="0" cellspacing="0" style="border-width:0;">
                                            <tbody>
                                                <tr>
                                                    <td><div style="width:15px;height:1px"></div></td>
                                                    <td><img src="img/item.gif" alt=""></td>
                                                    <td class="demoTreeView_2" onmouseover="TreeView_HoverNode(this)" onmouseout="TreeView_UnhoverNode(this)" style="white-space:nowrap;"><a class="demoTreeView_0 demoTreeView_1" href="Convert_Internal_Links_to_PDF" title="Convert Internal Links from HTML to PDF" id="demoTreeView_Convert_Internal_Links_to_PDF">Convert Internal Links from HTML to PDF</a></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        <table cellpadding="0" cellspacing="0" style="border-width:0;">
                                            <tbody>
                                                <tr>
                                                    <td><div style="width:15px;height:1px"></div></td>
                                                    <td><img src="img/item.gif" alt=""></td>
                                                    <td class="demoTreeView_2" onmouseover="TreeView_HoverNode(this)" onmouseout="TreeView_UnhoverNode(this)" style="white-space:nowrap;"><a class="demoTreeView_0 demoTreeView_1" href="SVG_to_PDF" title="Convert HTML with SVG to PDF" id="demoTreeView_SVG_to_PDF">Convert HTML with SVG to PDF</a></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        <table cellpadding="0" cellspacing="0" style="border-width:0;">
                                            <tbody>
                                                <tr>
                                                    <td><div style="width:15px;height:1px"></div></td>
                                                    <td><img src="img/item.gif" alt=""></td>
                                                    <td class="demoTreeView_2" onmouseover="TreeView_HoverNode(this)" onmouseout="TreeView_UnhoverNode(this)" style="white-space:nowrap;"><a class="demoTreeView_0 demoTreeView_1" href="Web_Fonts_to_PDF" title="Convert HTML with Web Fonts to PDF" id="demoTreeView_Web_Fonts_to_PDF">Convert HTML with Web Fonts to PDF</a></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        <table cellpadding="0" cellspacing="0" style="border-width:0;">
                                            <tbody>
                                                <tr>
                                                    <td><div style="width:15px;height:1px"></div></td>
                                                    <td><img src="img/item.gif" alt=""></td>
                                                    <td class="demoTreeView_2" onmouseover="TreeView_HoverNode(this)" onmouseout="TreeView_UnhoverNode(this)" style="white-space:nowrap;"><a class="demoTreeView_0 demoTreeView_1" href="Conversion_Triggering_Modes" title="Conversion Triggering Mode" id="demoTreeView_Conversion_Triggering_Modes">Select Conversion Triggering Mode</a></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        <table cellpadding="0" cellspacing="0" style="border-width:0;">
                                            <tbody>
                                                <tr>
                                                    <td><div style="width:15px;height:1px"></div></td>
                                                    <td><img src="img/item.gif" alt=""></td>
                                                    <td class="demoTreeView_2" onmouseover="TreeView_HoverNode(this)" onmouseout="TreeView_UnhoverNode(this)" style="white-space:nowrap;"><a class="demoTreeView_0 demoTreeView_1" href="Select_Screen_or_Print_Media_Type" title="Select Media Type for Screen or Print" id="demoTreeView_Select_Screen_or_Print_Media_Type">Select Media Type for Screen or Print</a></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        <table cellpadding="0" cellspacing="0" style="border-width:0;">
                                            <tbody>
                                                <tr>
                                                    <td><div style="width:15px;height:1px"></div></td>
                                                    <td><img src="img/item.gif" alt=""></td>
                                                    <td class="demoTreeView_2" onmouseover="TreeView_HoverNode(this)" onmouseout="TreeView_UnhoverNode(this)" style="white-space:nowrap;"><a class="demoTreeView_0 demoTreeView_1" href="Convert_Current_Page" title="Convert the Current HTML Page to PDF" id="demoTreeView_Convert_Current_Page">Convert the Current HTML Page to PDF</a></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        <table cellpadding="0" cellspacing="0" style="border-width:0;">
                                            <tbody>
                                                <tr>
                                                    <td><div style="width:15px;height:1px"></div></td>
                                                    <td><img src="img/item.gif" alt=""></td>
                                                    <td class="demoTreeView_2" onmouseover="TreeView_HoverNode(this)" onmouseout="TreeView_UnhoverNode(this)" style="white-space:nowrap;"><a class="demoTreeView_0 demoTreeView_1" href="Convert_Page_in_Same_Session" title="Convert a HTML Page to PDF in Same Session" id="demoTreeView_Convert_Page_in_Same_Session">Convert a HTML Page to PDF in Same Session</a></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        <table cellpadding="0" cellspacing="0" style="border-width:0;">
                                            <tbody>
                                                <tr>
                                                    <td><div style="width:15px;height:1px"></div></td>
                                                    <td><img src="img/item.gif" alt=""></td>
                                                    <td class="demoTreeView_2" onmouseover="TreeView_HoverNode(this)" onmouseout="TreeView_UnhoverNode(this)" style="white-space:nowrap;"><a class="demoTreeView_0 demoTreeView_1" href="PDF_Viewer_Preferences" title="Set PDF Viewer Preferences" id="demoTreeView_Set_Viewer_Preferences">Set PDF Viewer Preferences</a></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        <table cellpadding="0" cellspacing="0" style="border-width:0;">
                                            <tbody>
                                                <tr>
                                                    <td><div style="width:15px;height:1px"></div></td>
                                                    <td><img src="img/item.gif" alt=""></td>
                                                    <td class="demoTreeView_2" onmouseover="TreeView_HoverNode(this)" onmouseout="TreeView_UnhoverNode(this)" style="white-space:nowrap;"><a class="demoTreeView_0 demoTreeView_1" href="PDF_Security" title="Set PDF Permissions and Password" id="demoTreeView_PDF_Security">Set PDF Permissions and Password</a></td>
                                                </tr>
                                            </tbody>
                                        </table><table cellpadding="0" cellspacing="0" style="border-width:0;">
                                            <tbody>
                                                <tr>
                                                    <td><div style="width:15px;height:1px"></div></td>
                                                    <td><img src="img/item.gif" alt=""></td>
                                                    <td class="demoTreeView_2" onmouseover="TreeView_HoverNode(this)" onmouseout="TreeView_UnhoverNode(this)" style="white-space:nowrap;"><a class="demoTreeView_0 demoTreeView_1" href="PDF_Digital_Signatures" title="Digitally Sign the Generated PDF" id="demoTreeView_PDF_Digital_Signatures">Digitally Sign the Generated PDF</a></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <table cellpadding="0" cellspacing="0" style="border-width:0;">
                                        <tbody>
                                            <tr>
                                                <td><a id="demoTreeView_HTML_to_Image" href="javascript:TreeView_ToggleNode('demoTreeView_HTML_to_Image')"><img src="img/plus.gif" alt="Expand HTML to Image Converter" style="border-width:0;"></a></td>
                                                <td class="demoTreeView_2 demoTreeView_4" onmouseover="TreeView_HoverNode(this)" onmouseout="TreeView_UnhoverNode(this)" style="white-space:nowrap;"><a class="demoTreeView_0 demoTreeView_1 demoTreeView_3" href="HTML_to_Image/Convert_HTML_to_Image" title="HTML to Image Converter">HTML to Image Converter</a></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <div id="demoTreeView_HTML_to_ImageNodes" style="display:none;">
                                        <table cellpadding="0" cellspacing="0" style="border-width:0;">
                                            <tbody>
                                                <tr>
                                                    <td><div style="width:15px;height:1px"></div></td>
                                                    <td><img src="img/item.gif" alt=""></td>
                                                    <td class="demoTreeView_2" onmouseover="TreeView_HoverNode(this)" onmouseout="TreeView_UnhoverNode(this)" style="white-space:nowrap;"><a class="demoTreeView_0 demoTreeView_1" href="HTML_to_Image/Convert_HTML_to_Image" title="Convert HTML to a Raster Image" id="demoTreeView_Convert_HTML_to_Image">Convert HTML to a Raster Image</a></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <a id="demoTreeView_SkipLink"></a>
                            </div>
                        </td>
                    </tr>
                </table>
            </td>
            <td style="border-right: solid 1px Black; border-top: solid 1px Black; border-bottom: solid 1px Black; vertical-align: top; text-align: left; padding-left: 3px; padding-right: 3px; padding-bottom: 3px; padding-top: 3px;">
                @RenderBody()
            </td>
        </tr>
    </table>
</body>
</html>
